.gprecpage{
    height: 100%;
    margin: 0 auto;
    padding: 0;
    min-width: 400px;
    font-family: Apple SD Gothic Neo,arial,sans-serif;
    color: #000;
    background: #fff;
    display: block;
    flex-direction: column;
}
.gpr-header{
    min-width: calc(146px + 2%);
    margin: 0 auto;
    width: 99%;
    display: flex;
    max-height: 150px;
    align-items: center;
    box-sizing: border-box;
    height: calc(100px + (150 - 100) * ((100vw - 320px) / (768 - 320)));
}
.gpr-logo{
    width: 33%;
    max-height: 150px;
    height: auto;
    height: calc(100px + (150 - 100) * ((100vw - 320px) / (768 - 320)));
    display: flex;
    /*justify-content: center; 삭제예정*/
    align-items: center;
    box-sizing: border-box;
} 
.gpr-logoimg{
    max-width: 250px;
    width: 90%;
    height: auto;
    margin-left: 3%;
}
.gpr-title{
    width: 33%;
}
.gpr-title > span{
    font-size: 40px;
    padding-top: 10px;
    display: flex;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.gpr-menu{
    width: 33%;
    float: right;
}
.gpr-login{
    width: 30%;
    float: right;
}

.login{
    float: right;
    background: #fff;
    border: 2px solid #000;
    margin-right: 8px;
    max-width: 98px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    border-radius: 7px; 
    box-sizing: border-box;
    width: calc(85px + (98 - 85) * ((100vw - 320px) / (768 - 320))); /* 화면 크기에 따라 높이 조절 */
    cursor: pointer;
}
.login > span{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    color: #000;
    font-family: Google Sans,Roboto,Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 15px;
    display: flex;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.login:hover {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5), 3px 0px 3px rgba(0, 0, 0, 0.5);
}

.gpr-line{
    margin: 0 auto;
    width: 99%;
    height: 2px; /* 선의 높이 조절 */
    background-color: black; /* 검정색 설정 */
}

.gpr-contents{
   width: 100%;
   padding-top: 30px;
}

.gpr-contents div{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.gpr-contents p{
    font-size: 25px;
    font-weight: 600;
}
.gpr-contents button{
    font-size: 25px;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
}
.gpr-contents span{
    font-size: 20px;
    font-weight: 500;
}
.gpr-contents button:hover{
    text-decoration: underline;
    font-weight: bold;
}
a {
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}