.univinfopage{
    height: 100%;
    margin: 0 auto;
    padding: 0;
    min-width: 400px;
    font-family: Apple SD Gothic Neo,arial,sans-serif;
    color: #000;
    background: #fff;
    display: block;
    flex-direction: column;
}
.univinfo-header{
    min-width: calc(146px + 2%);
    margin: 0 auto;
    width: 99%;
    display: flex;
    max-height: 150px;
    align-items: center;
    box-sizing: border-box;
    height: calc(100px + (150 - 100) * ((100vw - 320px) / (768 - 320)));
}
.univinfo-logo{
    width: 33%;
    max-height: 150px;
    height: auto;
    height: calc(100px + (150 - 100) * ((100vw - 320px) / (768 - 320)));
    display: flex;
    /*justify-content: center; 삭제예정*/
    align-items: center;
    box-sizing: border-box;
}
.univinfo-logoimg{
    max-width: 250px;
    width: 90%;
    height: auto;
    margin-left: 3%;
}
.univinfo-title{
    width: 33%;
}
.univinfo-title-text{
    font-size: 40px;
    padding-top: 10px;
    display: flex;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.univinfo-line{
    margin: 0 auto;
    width: 99%;
    height: 2px; /* 선의 높이 조절 */
    background-color: black; /* 검정색 설정 */
}

.univinfo-content{
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: block;
    padding-top: 30px;
}
.univinfo-content ul {
    list-style-type: none;
}
.univinfo-content li{
    list-style-type: none;
    margin-bottom: 10px;
}
.univinfo-content li button {
    background-color:white;
    border: none;
    font-size: 18px;
  }
  
.univinfo-content li button:hover {
    text-decoration: underline;
    font-weight: bold;
}
.pagination{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}
.pagination span {
    font-size: 16px;
    margin-right: 10px;
}
.pagination span:hover{
    text-decoration: underline;
    font-weight: bold;
}
